@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0d5f8;
  border-radius: 20px;
  height: 70%;
  width: 40%;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btnContainer button {
  width: 100px;
  height: 60px;
  color: #000000 !important;
  font-size: 16px;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  border-radius: 9px;
  border: 0px solid #3866a3;
  background: #ee7979;
}

#yesBtn {
  position: relative;
  right: 100px;
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  text-transform: uppercase;
}

#yesBtn:hover {
  cursor: pointer;
  background-color: rgb(223, 62, 13);
  color: #ffff;
}

#noBtn {
  position: absolute;
  right: 230px;
}

#noBtn:hover {
  cursor: pointer;
  background-color: rgb(223, 62, 13);
  color: #ffff;
}

#heartGif {
  height: 500px;
  width: 500px;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
    height: auto;
  }

  h1 {
    font-size: 1.4rem;
    margin: 10px;
  }

  .btnContainer {
    margin: 20px;
  }

  #yesBtn {
    font-size: 1rem;
    left: 10px;
    width: auto;
  }

  #noBtn {
    right: 0;
    position: relative;
    width: auto;
  }

  #heartGif,
  #cupid {
    height: 100%;
    width: 100%;
  }
}
